<div class="container">
    <div class="row">
        <div class="col-md">
            <img src="assets/images/lunar.jpg" alt="" style="border-radius: 15px;"> &nbsp; <br>
            Book Name : Lunar <br>
            Price : {{100 | currency:"INR"}} <br>
            <button class="btn btn-success">Buy Now!</button> &nbsp; <button class="btn btn-info">Add to Cart</button>
        </div>
        <div class="col-md">
            <img src="assets/images/secret.jpg" alt="" style="border-radius: 15px;"> &nbsp; <br>
            Book Name : Secret <br>
            Price : {{300 | currency:"INR"}} <br>
            <button class="btn btn-success">Buy Now!</button> &nbsp; <button class="btn btn-info">Add to Cart</button>
        </div>
        <div class="col-md">
            <img src="assets/images/hunger.jpg" alt="" style="border-radius: 15px; height: 280px;">  <br>
            Book Name : Hunger <br>
            Price : {{350 | currency:"INR"}} <br>
            <button class="btn btn-success">Buy Now!</button> &nbsp; <button class="btn btn-info">Add to Cart</button>
        </div>
    </div>
</div>