<h1>Book Categories</h1>
<div class="container">
<div class="row">  <div class="col-sm-4">
    <img src="assets/images/horror.jpg" alt=""> &nbsp;
    <a routerLink="/horror" style="text-align: center;">Horror Category</a>
  </div>
  <div class="col-sm-4">
    <img src="assets/images/love.jpg" alt=""> &nbsp; <br>
    <a routerLink="/love"style="text-align: center;">Love Category</a>
  </div>
  <div class="col-sm-4">
    <img src="assets/images/child.jpg" alt=""> &nbsp;
    <a routerLink="/children" style="text-align: center;">Children Category</a>
  </div>
</div>

</div>