<div class="page-header" style="background-color: rgb(231, 94, 135);margin-top: auto; padding-left: 10px;">
 
    <h4 style="margin:0px;padding-top: 30px;color: rgb(40, 45, 116); font-size:x-large;">
     <img src="assets/images/book2.jpg" alt="book"> Book Shop 
               <button style="margin-left: 750px;background-color:  rgb(201, 106, 134);border-color: brown;font-size: large;" routerLink="/home">Home</button>&nbsp;
               <button style="background-color:  rgb(201, 106, 134);border-color: brown;font-size: large">About</button>&nbsp;
               <button style="background-color: rgb(201, 106, 134);border-color: brown;font-size: large">Contact</button>&nbsp;
               <button style="background-color: rgb(201, 106, 134);border-color: brown;font-size: large">Other</button>
   
     </h4>
      
   
   </div>
   
