<div class="container">
    <div class="row">
        <div class="col-md">
            <img src="assets/images/char.jpg" alt="" style="border-radius: 15px;"> &nbsp; <br>
            Book Name : Char <br>
            Price : {{200 | currency:"INR"}} <br>
            <button class="btn btn-success">Buy Now!</button> &nbsp; <button class="btn btn-info">Add to Cart</button>
        </div>
        <div class="col-md">
            <img src="assets/images/littleprince.jpg" alt="" style="border-radius: 15px;"> &nbsp; <br>
            Book Name : Little Prince <br>
            Price : {{500 | currency:"INR"}} <br>
            <button class="btn btn-success">Buy Now!</button> &nbsp; <button class="btn btn-info">Add to Cart</button>
        </div>
        <div class="col-md">
            <img src="assets/images/hol.jpg" alt="" style="border-radius: 15px; height: 280px;">  <br>
            Book Name : Hol <br>
            Price : {{250 | currency:"INR"}} <br>
            <button class="btn btn-success">Buy Now!</button> &nbsp; <button class="btn btn-info">Add to Cart</button>
        </div>
    </div>
</div>

